.gradient-bg {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,205,255,1) 0%, rgba(0,0,255,1) 100%);
}

.header-logo {
  width: 25%;
}

.header-menu {
  width: 75%;
}

.menu-item {
  font-size: 13px !important;
}

footer img {
  width: 180px;
}


